body{
	background-color: #0c343d;
}
h1{
	margin: 50px;
	color: yellow;
	text-align: center;
	font-size: 40px;
}
a{
	text-decoration: none;
	color: white;
}
h3{
	font-size: 20px;
	margin-right: 25px;
	margin-bottom: 20px;
	text-align: right;
	position: relative;
}
#Ingresar{
	padding: 8px;
	font-size: 24px;
	font-weight: bold;
	height: 120px; 
	width: 240px;
	background-color: white;
	display:block;
	margin:auto;
	margin-bottom: 10px;
	position: relative;
	right: 500px;
 
}

#Cupos{
	padding: 8px;
	font-size: 24px;
	font-weight: bold;
	height: 120px; 
	width: 240px;
	background-color: white;
	display:block;
	margin:auto;
	margin-bottom: 10px;
	position: relative;
	left: 1px;
}

#Retirar{
	padding: 8px;
	font-size: 24px;
	font-weight: bold;
	height: 120px; 
	width: 240px;
	background-color: white;
	display:block;
	margin:auto;
	margin-bottom: 10px;
	position: relative;
	left: 500px;
}

