body{
	background-color: #0c343d;
}
h2{
	margin: 70px;
	font-size: 40px;
	text-align: center;
	color: yellow;
}
a{
	text-decoration: none;
	color: white;
}
#jefe:hover{
	background: 	#C0C0C0;
} /*Pasar el mouse y que se ponga oscuro el botón*/
#emp:hover{
	background: 	#C0C0C0;
}
#atras:hover{
	background: 	#C0C0C0;
}
#jefe{
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	display:block;
	margin:auto;
	margin-bottom: 20px;
	height:50px;
	background-color: black;
	color: white;
}
#emp{
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	display:block;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 10%;
	height:50px;
	background-color: black;
	color: white;
}
#atras{
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	display:block;
	margin:auto;
	margin-left: 60%;
	margin-top: 20px;
	height:40px;
	margin-bottom: 6%;
	height:50px;
	background-color: black;
	color: white;
}
h4{
	color: white;
	text-align: center;
}